	rewrite /api /api/
	reverse_proxy /api/* backend:8080
	rewrite /auth /auth/
	reverse_proxy /auth/* keycloak:8080
	reverse_proxy /* frontend:80

	header / Cache-Control no-cache
	header /api/* Cache-Control no-cache
}
