services:
  db:
    image: postgres:15
    restart: unless-stopped
    stop_grace_period: 1m30s
    shm_size: 1g
    volumes:
      - top-data:/var/lib/postgresql/data
    env_file:
      - docker-compose.env

  neo4j:
    image: neo4j:5
    restart: unless-stopped
    stop_grace_period: 1m30s
    volumes:
      - top-neo4j-data:/data
    env_file:
      - docker-compose.env

  backend:
    image: ghcr.io/onto-med/top-backend:v0.10.0
    restart: unless-stopped
    depends_on:
      - db
    volumes:
      - query-results:/data/query_results
      # Uncomment the following line to mount data adapter configurations from a local ./configs directory.
      # - ./configs:/configs:ro
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NEO4J_HOST=neo4j
      - DB_NEO4J_PORT=7687
    env_file:
      - docker-compose.env

  frontend:
    image: ghcr.io/onto-med/top-frontend:v0.8.15
    restart: unless-stopped
    depends_on:
      - backend
    env_file:
      - docker-compose.env

  caddy:
    image: caddy:2-alpine
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
    env_file:
      - docker-compose.env

  keycloak:
    image: quay.io/keycloak/keycloak:26.3
    profiles:
      - auth
    restart: unless-stopped
    depends_on:
      - keycloak-db
    command: start --http-enabled=true --spi-login-protocol-openid-connect-legacy-logout-redirect-uri=true
    environment:
      # Use the following lines to set up an initial admin user.
      # - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      # - KC_BOOTSTRAP_ADMIN_PASSWORD=password
      - KC_DB=postgres
      - KC_DB_URL=jdbc:postgresql://keycloak-db/keycloak
      - KC_DB_USERNAME=keycloak
      - KC_DB_PASSWORD=keycloak
      - KC_HTTP_RELATIVE_PATH=/auth
      - KC_HOSTNAME=http://localhost/auth
      - KC_PROXY_HEADER=xforwarded

  keycloak-db:
    image: postgres:15
    profiles:
      - auth
    restart: unless-stopped
    stop_grace_period: 1m30s
    volumes:
      - keycloak-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=keycloak

volumes:
  top-data:
  top-neo4j-data:
  query-results:
  caddy-data:
  keycloak-data:
